<aside class="col-lg-4">
    <ul>
        <li>
            @Html.ActionLink("Realizar Cadastro", "Cadastro", "Cliente", null, new { @class = "sizeOfList btn btn-default", id = "RealizarCadastroMainMenu" })
        <li>
            @Html.ActionLink("Realizar Pesquisa", "Pesquisa", "Cliente", null, new { @class = "sizeOfList btn btn-default", id = "PesquisaMainMenu" })
        </li>
        <li>
            <a href="http://www.simuladorpersonalizado.com.br/" target="_blank" class="sizeOfList btn btn-default" id="CotaçãoMainMenu">Realizar Cotação</a>
        </li>
        <li>
            <a href="https://calendar.google.com/calendar/" target="_blank" class="sizeOfList btn btn-default" id="RealizarAgendamento">Realizar Agendamento</a>
        </li>
        <li>
            @Html.ActionLink("Planos", "Listar", "Plano", null, new { @class = "sizeOfList btn btn-default", id = "PlanoMainMenu" })
        </li>
        <li>
            @Html.ActionLink("Financeiro", "Index", "Financeiro", null, new { @class = "sizeOfList btn btn-default", id = "FinanceiroMainMenuMainMenu" })
        </li>
    </ul>
</aside>