@model LopesCorretora.SGCPS.ViewsModels.DarBaixaVM
@{
    ViewData["Title"] = "Realizar Baixa";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="container">
    <div class="row">
        <div class="col-xs-12 col-sm-12 col-md-12">
            <h1 class="h1Financeiro"> Dar Baixa </h1>
        </div>
    </div>

    @using (Html.BeginForm("DarBaixa", "Financeiro", FormMethod.Get))
    {
        <div class="row">
            <div class="col-xs-3 col-sm-3 col-md-3">
                <div class="form-group">
                    <label for="numrero-contrato" id="labelDarBaixa"> Número de Contrato: </label>
                    <input type="text" name="NumeroDoContrato" id="numrero-contrato" class="form-control">
                </div>
            </div>
            <div class="col-xs-1 col-sm-1 col-md-1">
                <div style="margin-top:24px" class="form-group">
                    <input type="submit" class="btn btn-default" value="Buscar" />
                </div>
            </div>
        </div>
    }

    <div class="row">
        <div class="col-xs-12 col-sm-12 col-md-12">
            <p id="pDarBaixa"> Qual parcela você deseja dar baixa ?</p>
        </div>
    </div>
    @using (Html.BeginForm("DarBaixa", "Financeiro", FormMethod.Post))
    {
        <div class="row">
            <div class="col-xs-12 col-sm-12 col-md-12">
                @Html.Partial("_Errors")
                <table class="table table-hover" id="tabelaDarBaixa">
                    <thead>
                        <tr>
                            <th scope="col" class="ColunaDarBaixa">Parcela</th>
                            <th scope="col" class="ColunaDarBaixa">Valor</th>
                            <th scope="col" class="ColunaDarBaixa">Comissão</th>
                            <th scope="col" class="ColunaDarBaixa">Cliente</th>
                        </tr>
                    </thead>
                    @if (Model != null)
                    {
                        @if (Model.ObjPessoaFisicaMOD != null)
                        {
                            @Html.Partial("_PartialDarBaixaPf", Model)
                        }
                        else
                        {
                            @Html.Partial("_PartialDarBaixaPj", Model)
                        }
                    }
                </table>
            </div>
        </div>

        <div id="actions" class="row">
            <div class="col-xs-6 col-sm-6 col-md-6">
                @Html.ActionLink("Financeiro", "Index", "Financeiro", null, new { @class = "btn btn-default", id = "botaoMenu" })
            </div>

            <div class="col-xs-12 col-sm-12 col-md-12">
                <button type="submit" class="btn btn-default" id="buttonBaixa"> Dar Baixa </button>
            </div>
        </div>
    }
</div>